<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/scrollView1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content">
            <Button
                android:id="@+id/myButton"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="@string/hello" />
            <Button
                android:id="@+id/ImageLoaderButton"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="ImageLoaderView" />
            <Button
                android:text="ImageLoadingIndicatorView"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/ImageLoadingIndicatorButton" />
            <Button
                android:text="ImageSliderView"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/ImageSliderButton" />
            <Button
                android:text="Manual Image Loading"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/testButton" />
            <Button
                android:text="Adaptive WebView"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/btnAdaptiveWebView" />
            <Button
                android:text="Reachability"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/ReachabilityButton" />
            <Button
                android:text="QR Code"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/QRButton" />
            <Button
                android:text="Push Sharp"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/PushButton" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>